img {
    width: 300px;
}

section {
    width: 300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    background: white;
}
h3 {
    text-align: left;
    margin: 10px;
}
p {
    margin: 10px;
}

.web {
    display: block;
    margin-top: 30px;
    margin-left: 10px;
    font-weight: bold;
}
a {
    display: block;
    margin-left: 10px;
    max-width: 300px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
body {
    background: gray;
}
