@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body{
    font-family: 'Gochi Hand';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
    margin: 0;
}

.postcard{
    width: 800px;
    height: 650px;
    border: 1px solid #ccc;
    border-radius: 1em;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
    background-color: white;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.postcard-upper, .postcard-lower{
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.postcard-upper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc; 
}

.postcard-upper img{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 100%;
    height: auto;
}

.postcard-upper .text{
    position: absolute;
    bottom: 30px;
    background-color: white;
    padding: 15px 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 1em;
    text-align: center;
}

.postcard-upper .text h2{
    columns: #333;
    font-size: 20px;
    margin: 0 0 5px 0;
}

.postcard-upper .text p{
    columns: #333;
    font-size: 14px;
    margin: 0;
}

.postcard-lower{
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px;
    margin: 1px;
}
.postcard-lower h2{
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.postcard-lower p{
    margin: 5px 0;
    color: #333;
}
