body {
    background-color: lightgray;
}

main {
    width: 60%;
    margin: 30px auto;
    background-color: white;
    padding: 20px 0 20px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgba(44, 44, 44, 0.2);
}

article h3 {
    margin-bottom: 0;
}

article p {
    margin-top: 0;
    font-weight: bold;

}

.sec-one {
    width: 40%;
    margin: auto;
    text-align: center;
}

.sec-one p {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.sec-two {
    display: flex;
    justify-content: space-around;
}

article {
    width: 30%;
}

.sec-last {
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

hr {
    width: 5%;
    ;
}