section {
    border: 2px solid green;
    padding: 20px 120px;
}
div {
    border: 2px solid blue;
    padding: 30px;
}
article {
    border: 2px solid black;
    padding: 25px;
    text-align: center;
}
.header {
    margin-bottom: 30px;
}
.main {
    margin-bottom: 30px;
}
