section {
    border: 2px solid black;
    background: gray;
    width: 800px;
    padding: 10px;
    margin: auto;
}
div {
    border: 2px solid black;
    padding: 5px;
    margin: 2px;
}
div:nth-child(1) {
    background: yellow;
}
div:nth-child(2) {
    background: orange;
}
div:nth-child(3) {
    background: red;
}
div:nth-child(4) {
    background: rebeccapurple;
}
div:nth-child(5) {
    background: blue;
}
div:nth-child(6) {
    background: green;
}