.container {
    list-style: none;
    padding: 1rem;
    background-color: lightgray;
    border: 3px dashed black;
}

.item {
    font-size: 2rem;
    text-align: center;
    border: 1px solid black;
}

.item:nth-child(1) {
    background-color: yellow;
}
.item:nth-child(2) {
    background-color: orange;
}
.item:nth-child(3) {
    background-color: red;
}
.item:nth-child(4) {
    background-color: rebeccapurple;
}
.item:nth-child(5) {
    background-color: blue;
}
.item:nth-child(6) {
    background-color: green;
}

/* FLEX PARENT*/

.container {
    display: flex;
    /* width: 70%; */
    /* height: 200px; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
     
}

.item {
    width: 300px;
    /* height: 50px; */
}
