main {
    border: 2px solid green;
    padding: 20px 20px 0 20px;
    width: 1000px;
    margin: auto;
}
section.header, .banner {
    border: 2px solid black;
    padding: 20px 70px 20px 70px;
    margin-bottom: 20px;
}
section.article {
    border: 2px solid black;
    padding: 20px 70px 0 70px;
}
article {
    border: 2px solid blue;
    padding: 20px;
    text-align: left;
}