body {
    background-color: lightgray;
}

#upper-wrapper {
    margin-bottom: 100px;

}

div {
    border-radius: 5px;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgb(189, 188, 188);
} 

header,
section,
footer {
    border: 1px solid rgb(214, 210, 210);
    padding: 25px;
    border-radius: 5px;
    margin: 5px;
}

main {
    display: flex;
}

.upper-ctr section:first-of-type {
    width: 70%;
}

.upper-ctr section:last-of-type {
    width: 30%;
}

.lower-ctr section:first-of-type {
    width: 30%;
}

.lower-ctr section:last-of-type {
    width: 70%;
}
